{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Ekle {% endblock %}

{% block body %}
    <div align="center">
    <h4>Ürün Ekle</h4>
</div>
    {{ include('product/_form.html.twig') }}


{% endblock %}
